.container{
    margin: 100px;
}
.card {
    /* Add shadows to create the "card" effect */
    
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 5px 8px 1px gray;
    text-align: center;
    padding-top: 40px;
}

.card-body{
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}

.input[type=text], .input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.input:focus{
  color: #495057;
  background-color: #fff;
  border-color: #09e297;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.btn{
    color: white;
    background-color: #09e297;
    border-radius: 10px;
    height: 35px;
    width: 80px;
    border: none;
    margin: 20px 0px 90px 0px;
}

.sm{
    margin: 10px;
}